body {
    margin: 0;
    margin-top: -3%;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    overflow-x:hidden;

    background-color: #F5FFE5;
    font-family:Arial, Helvetica, sans-serif;

}
html{
    scroll-behavior: smooth;
}
.main-page{
    background-image:url('img/img_01.jpg') ;
    width: 100vw;
    height: 95vh;
    background-size: cover;
	background-position: center;
}
.veggi{
    display: none;
}
.overlay {
    position: sticky;
    z-index: 2;
    background-color: #D7F0B0;
    top: 0;
    overflow: hidden;
    height: 5vh;
    width: 100vw;
    padding-top: 1%;
    display: flex;
    justify-content:center;
    
}

  .nav-bar ul {
    list-style: none;
    display: flex;
    gap: 40%;
    justify-content: center;
    width: 100%;
}

.nav-bar ul li {
    display: inline;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #2D572C;
    font-size: 1.3em;
    position: relative;
    top: -50%;
    font-weight: bold;
}
.header{
    width: 100%;
    margin-right: 45%;
    font-weight: bold;
    text-align: center;
    color: #94B73A;
    position: relative;
    top: 40%;

}
.title{
    margin-right: 30%;
    font-size: 3.7em;
    text-align: center;
}
.photos{
    padding-top: 5%;
    margin-bottom: 15%;
}
 .photo-indent{
    width: 100vw;
    margin-top: 5%;
    margin-bottom: 10%;
}

.video-indent{
    margin-top: 5%;
}
.video{
    padding-top: 10%;
}

.video-menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    align-items: center;
    width: 90%;
    margin: auto;
}
iframe{
    height: 60vh;
    width: 100%;
    max-width: 640px;
}
.video-title{
    font-size: 3em;
    text-align: center;
    color: #2d572c;
    position: relative;
    top:60px;
}
.video-content{

    font-size: 1.375em;
    width:100%;
    max-width: 600px;
    color: #94B73A;
    font-weight: bold;  
    line-height: 1.8;
    margin: 0 auto;
    margin-bottom: 12%;
}
.video-description{
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.slider-container {
    text-align: center;
    margin-top: 10%;
    font-size: 1.375em;
    color: #2d572c;
    font-weight: bold; 
}

.slider {
    display: flex;
    align-items: center; /* Ensures all elements are vertically centered */
    justify-content: center;
    gap: 2%;
    position: relative;
    margin-top: 5%;
}

.nav-button {
    background: none;
    border: none;
    font-size: 3.5em; /* Increase button size */
    cursor: pointer;
    display: flex;
    align-items: center; /* Align button content */
    justify-content: center;
    height: 60px; /* Ensure uniform height */
    width: 60px; /* Make buttons more clickable */
}

#slider-image {

    width: 80%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.contacts{
    width: 100vw; /* Full viewport width */
    background-image:url('img/img_03.jpg');
    background-size: cover;
	background-position: center;
    margin-top: 20%;
    padding-bottom: 20%;
    
}
.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    margin: 0;
    box-sizing: border-box;
}

.container-header h1 {
    font-size: 3em;
    color: #2d572c;
    margin: 0;
}



.container-contact {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    max-width: 650px;
}

.container-item {
    padding: 5px; /* Increased padding for larger size */
    border-radius: 20px; /* Adjusted for a more balanced look */
    color: #2d572c;
    font-size: 1.2em; /* Slightly larger font size */
    width: 100%; /* Increased width relative to the container */
    text-align: center;
    margin: 0 auto; /* Center the divs horizontally */
}


.container-item a {
    color: #2d572c;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
}

.container-item a:hover {
    text-decoration: underline;
}
.icon{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.insta{
    position: relative;
    left: -22px;
}
@media (max-width: 1100px){
    .main-page{
        background-image: none;
        margin-bottom: 20%;
    }
    .title{
        margin: 0;

    }
    .veggi{
        display: block;
        margin-left: 12%;
        
    }
    .header{
        margin-top: -20%;
    }
    .contacts{
        margin-top: 40%; 
    }
}
@media (max-width: 768px) {
    .nav-bar ul {
      gap: 30%;
    }
  
    .nav-bar ul li a {
      font-size: 1.3em;
    }
  
    .title {
      font-size: 2em;
    }
  
    .video-menu {
      flex-direction: column;
    }
  
    .video-title {
      font-size: 2em;
    }
  
    .video-content {
      font-size: 1em;
    }
  
    .nav-button {
      font-size: 2em;
      height: 40px;
      width: 40px;
    }
  
    .container-item a {
      font-size: 1.2em;
    }
    .main-page {
      background-color: #f5ffe5;
      background-image: none;
    }
  }
  @media only screen and (max-width: 480px) {
    .nav-bar ul {
      gap: 8%;
    }
  
    .nav-bar ul li a {
      font-size: 0.9em;
    }
    .veggi{
        width: 70%;
        position: relative;
        left: 3%;
    }
    .title {
      font-size: 2.2em;
    }
  
    .video-menu {
      flex-direction: column;
    }
  
    iframe {
      height: 40vh;
    }
  
    .video-title {
      font-size: 1.6em;
      margin-bottom: 7%;

    }
  
    .video-content {
        max-width: 90%;
      font-size: 0.8em;
      line-height: 1.6;
    }
  
    #slider-image {
      width: 70%;
    }
    .slider-container{
        max-width: 90%;
        align-items: center;
        font-size: 1.4em;
    }
  
    .nav-button {
      font-size: 1.2em;
      height: 30px;
      width: 30px;
    }
  
    .container-item a {
      font-size: 1.1em;
    }
    .main-page{
        margin-bottom: -60%;

    }
    .header{
        top: 20%;
        
    }
  }